/*by Tenebroso*/

@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

.wordmark-2iDDfm:after {
    content: "UR Name Here";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    font-family: "Discord";
}

.wordmark-2iDDfm svg {
  display: none;
}

.wordmark-2iDDfm {
    max-width: 90vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*
.homeIcon-tEMBK1 {
   background: url('https://cdn.discordapp.com/attachments/551756327798439947/794699655941980180/267.gif');
   background-size: contain;
   position: center;
   width: 63px;
   height: 63px;
   margin-top: 11px;
 }

 .homeIcon-tEMBK1 path {
   fill: transparent;
 }*/
