@import url(https://st3rkysdev.github.io/BetterDiscord/Source_Code/Addons/Use_Fonts/DiscordFont.css);

.wordmark-2iDDfm:after {
    content: "UR Name Here";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    font-family: "Discord";
}

.wordmark-2iDDfm svg {
  display: none;
}

.wordmark-2iDDfm {
    max-width: 90vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeIcon-tEMBK1 {
   background: url('paste url the image here for change the home button');
   background-size: contain;
   position: center;
   width: 63px;
   height: 63px;
   margin-top: 11px;
 }

 .homeIcon-tEMBK1 path {
   fill: transparent;
 }
